<div class="block container relative mx-auto mt-5">
    <img src="{{ page.banner }}" alt="{{ page.banner_alt | default: 'Landing page hero image' }}" class="z-10 rounded shadow-lg">
    {%- if page.on_banner_text != nil -%}
        <div class="mt-3 md:mt-0 md:absolute md:top-2 lg:top-16 md:-left-3 bg-white bg-gradient-to-r from-indigo-200 to-white rounded-lg px-6 py-3 z-20 shadow-sm">
            <p class="text-2xl lg:text-5xl mx-2">{{ page.on_banner_text }}</p>
        </div>
        <div class="hidden md:flex md:absolute w-12 h-16 md:top-3 lg:top-14 md:-left-3 md:bg-gradient-to-l lg:bg-gradient-to-r from-indigo-200 md:to-indigo-300 lg:to-indigo-500 rounded-lg md:-z-10 shadow-sm"></div>
    {%- endif -%}
    {%- if page.post_banner_text != nil -%}
        <div class="container rounded-md bg-slate-200 shadow-md mt-3 text-center">
            <p class="mx-auto text-4xl py-6 italic font-serif">{{ page.post_banner_text }}</p>
        </div>
    {%- endif -%}
</div>