<div class="mt-10 card">
    {% for card in page.card_data %}
    <div class="flex flex-col lg:odd:flex-row lg:even:flex-row-reverse border rounded-xl mx-3 md:container md:mx-auto self-center items-center lg:justify-around lg:my-12 shadow-md">
        <div class="flex flex-col items-center lg:items-start justify-center lg:justify-start mt-6 lg:mt-0 lg:mx-3">
            {% if card.heading != nil %}
                <h2 class="text-3xl">{{ card.heading }}</h2>
            {% endif %}
            <div class="mt-0.5">
                {% for text in card.texts%}
                <p class="text-pretty mt-2 lg:mb-1 text-center lg:text-left">
                    {{ text | strip }}
                </p>
                {% endfor %}
            </div>
            {% if card.button.text != nil %}
                <button class="flex text-semibold text-cyan-800 bg-white border border-sky-700 hover:text-white hover:bg-cyan-500 hover:text-bold rounded-lg p-2 mt-4 lg:mr-1" type="button">
                    <a href="{{ card.button.url }}">{{ card.button.text }}</a>
                </button>
            {% endif %}
        </div>
        {% if card.img %}
        <img src="{{ card.img }}" alt="{{ card.img_alt | default: 'card image' }}" class="rounded-md mr-2" />
        {% endif %}
    </div>
    {% endfor %}
</div>