<!-- HTML file for header menu on all pages -->
<span class="flex flex-row relative md:mx-3">
    <span id="left_header_box" class="flex content-center">
        <img src="{{ site.logo }}" alt="{{ site.logo_alt }}" class="flex rounded-xl max-h-12 md:h-12 md:mx-4 my-2"/>
        <p class="text-3xl md:text-4xl font-bold flex md:mt-4">{{ site.title }}</p>
    </span>
    <span class="hidden md:flex md:absolute md:top-0 md:right-0 md:mr-4 md:mt-4">
        {% for link in site.header_links %}
            <h2 class="md:flex first:underline first:decoration-slate-600 first:decoration-double first:underline-offset-4">
                <a class="text-2xl px-4" href="{{ link.url }}">{{ link.name }}</a>
            </h2>
        {% endfor %}
    </span>
    <span class="flex md:hidden my-2">
        <!-- mobile hamburger menu -->
        <button class="mx-3" id="hamburger">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
    </span>
</span>
<hr class="border-top-2 border-slate-300 mx-auto md:mx-3" />