<!-- HTML file for header menu on all pages -->
<header class="lg:py-2">
    <nav class="flex flex-row relative lg:mx-3 justify-between items-center">
        <span id="left_header_box" class="flex items-center">
            <div>
                <img src="{{ site.logo }}" alt="{{ site.logo_alt }}" class="rounded-xl max-h-12 lg:h-12 lg:mx-4"/>
            </div>
            <div>
                <p class="text-3xl lg:text-4xl font-bold">{{ site.title }}</p>
            </div>
        </span>
        <span class="flex lg:hidden mr-2">
            <!-- mobile hamburger menu icon -->
            <button class="mx-3" onclick="dropdown()" id="menu_sec">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <!-- menu close button -->
            <button class="hidden mx-2" onclick="closePane()" id="menu_close">
                <svg class="w-7 h-7" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </button>
        </span>
        <ul class="hidden lg:flex">
            {% for link in site.header_links %}
                <li class="lg:flex first:underline first:decoration-slate-600 first:underline-offset-4">
                    <a class="text-2xl px-4" href="{{ link.url }}">{{ link.name }}</a>
                </li>
            {% endfor %}
            </ul>
    </nav>

    <hr class="border-top-2 border-slate-300 mx-auto lg:mx-3" />

    <!-- mobile menu -->
    <nav class="invisible border-b mx-5 relative" id="mobile_nav">
        <div class="rounded shadow fixed bg-white px-7 pt-4 pb-7 absolute top-0 right-0">
            <h4 class="text-md font-semibold pl-3 mt-2">Menu</h4>
            <ul class="mb-2 dropdown-nav list-disc ml-4 pt-2">
                {% for link in site.header_links %}
                    <li class="pl-2 mb-2 hover:bg-slate-100">
                        <a class="text-2xl pr-4 text-align-center hover:underline" href="{{ link.url }}">{{ link.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>